/* CARD PROFILE */

a {
    text-decoration: none;
}

p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1vw;
}

.card-parent{
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 4% 10%;
    height: 75vh;
    max-height: 900px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px, rgba(0, 0, 0, 0.30) 0px 5px 10px;
}

.card-left{
    display: flex;
    flex-direction: column;
    margin: 6% 0% 5% 5%;
    gap: 10px;
    width: 60%;
}

.card-left h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.card-left p{
    margin-top: 0;
    text-align: justify;
    font-size: 1rem;
}

.source-parent {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    font-size: 1.3vw;
    margin-top: 30px;
}

.source-contact {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    margin-right: 40px;
    border-radius: 30px;
    padding: 0.5vw 2vw;
    text-align: center;
}

.source-cv {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-weight: 500;
}

.medsos-parent {
    align-items: start;
    margin-top: 60px;
}

.medsos-parent ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.medsos-parent ul li {
    display: flex;
}

.medsos-parent ul li a img {
    height: 3.5vw;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.card-right{
    display: flex;
    flex-direction: column;
    padding: 6% 4%;
    width: 40%;
}

.profile-box {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 40rem;
    position: relative;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px, rgba(0, 0, 0, 0.30) 0px 5px 10px;
}

.profile-box img {
    position: relative;
    height: 80%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.profile-box h2 {
    padding: 0 20px;
    font-size: 1.2rem;
    margin-top: 10px;
}

.profile-box p {
    padding: 0 20px;
    font-size: 1rem;
    margin-top: 5px;
}

@media only screen and (max-width: 400px) {
    .card-parent {
        flex-direction: column;
        padding: 25px 35px;
    }

    .card-left {
        margin: 0;
        gap: 5px;
        width: 100%;
    }

    .card-left h2 {
        margin-bottom: 5px;
        font-size: .8rem;
    }

    .card-left p {
        font-size: .5rem;
    }

    .source-parent {
        justify-content: flex-start;
        align-items: center;
        font-size: .5rem;
        margin-top: 15px;
    }

    .source-contact{
        margin: 0;
        padding: 6px 15px;
    }

    .medsos-parent {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .medsos-parent ul {
        width: 70%;
    }

    .medsos-parent a {
        display: flex;
        align-items: center;
        height: 1.52rem;
    }

    .medsos-parent ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .medsos-parent ul li a img {
        margin: 0;
        height: 90%;
    }

    .card-right{
        display: flex;
        flex-direction: column;
        padding: 6% 4%;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    
    .profile-box {
        height: 100%;
    }

    .profile-box h2 {
        margin: 0;
        padding: 0 10px;
        font-size: .7rem;
    }

    .profile-box p {
        font-size: .6rem;
        margin-top: 2px;
    }
    
}